TimeBasedVerification/obj/project.assets.json
TimeBasedVerification/obj/project.nuget.cache
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.dgspec.json
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.g.props
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.g.targets
TimeBasedVerification/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.AssemblyInfo.cs
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.AssemblyInfoInputs.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.assets.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.csproj.AssemblyReference.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.GeneratedMSBuildEditorConfig.editorconfig
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.GlobalUsings.g.cs
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.csproj.CoreCompileInputs.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.csproj.FileListAbsolute.txt
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.dll
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.pdb
TimeBasedVerification/obj/Debug/net6.0/ref/TimeBasedVerification.dll
TimeBasedVerification/bin/Debug/net6.0/TimeBasedVerification.deps.json
TimeBasedVerification/bin/Debug/net6.0/TimeBasedVerification.dll
TimeBasedVerification/bin/Debug/net6.0/TimeBasedVerification.pdb
TimeBasedVerification/bin/Debug/net6.0/ref/TimeBasedVerification.dll
TimeBasedVerification.Tests/obj/project.assets.json
TimeBasedVerification.Tests/obj/project.nuget.cache
TimeBasedVerification.Tests/obj/TimeBasedVerification.Tests.csproj.nuget.dgspec.json
TimeBasedVerification.Tests/obj/TimeBasedVerification.Tests.csproj.nuget.g.props
TimeBasedVerification.Tests/obj/TimeBasedVerification.Tests.csproj.nuget.g.targets
TimeBasedVerification.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
TimeBasedVerification.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.AssemblyInfo.cs
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.AssemblyInfoInputs.cache
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.assets.cache
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.csproj.AssemblyReference.cache
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.csproj.CoreCompileInputs.cache
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.csproj.FileListAbsolute.txt
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.GeneratedMSBuildEditorConfig.editorconfig
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/testhost.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/testhost.exe
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.pdb
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.Tests.deps.json
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.Tests.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.Tests.dll.txt
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.Tests.pdb
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.Tests.runtimeconfig.json
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.abstractions.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.assert.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.core.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.execution.dotnet.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ref/TimeBasedVerification.Tests.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.csproj.CopyComplete
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.dll
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.genruntimeconfig.cache
TimeBasedVerification.Tests/obj/Debug/net6.0/TimeBasedVerification.Tests.pdb
TimeBasedVerification.Tests/obj/Debug/net6.0/ref/TimeBasedVerification.Tests.dll
TimeBasedVerification.Tests.BitwiseHelpers/obj/project.assets.json
TimeBasedVerification.Tests.BitwiseHelpers/obj/project.nuget.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/TimeBasedVerification.Tests.BitwiseHelpers.csproj.nuget.dgspec.json
TimeBasedVerification.Tests.BitwiseHelpers/obj/TimeBasedVerification.Tests.BitwiseHelpers.csproj.nuget.g.props
TimeBasedVerification.Tests.BitwiseHelpers/obj/TimeBasedVerification.Tests.BitwiseHelpers.csproj.nuget.g.targets
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.AssemblyInfo.cs
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.AssemblyInfoInputs.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.assets.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.csproj.AssemblyReference.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.csproj.CopyComplete
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.csproj.CoreCompileInputs.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.csproj.FileListAbsolute.txt
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.dll
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.GeneratedMSBuildEditorConfig.editorconfig
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.genruntimeconfig.cache
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.pdb
TimeBasedVerification.Tests.BitwiseHelpers/obj/Debug/net6.0/ref/TimeBasedVerification.Tests.BitwiseHelpers.dll
.gitignore
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/CoverletSourceRootsMapping
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/Newtonsoft.Json.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/NuGet.Frameworks.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/testhost.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/testhost.exe
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.pdb
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.deps.json
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.pdb
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.Tests.BitwiseHelpers.runtimeconfig.json
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.abstractions.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.assert.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.core.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.execution.dotnet.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ref/TimeBasedVerification.Tests.BitwiseHelpers.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TimeBasedVerification.Tests.BitwiseHelpers/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TimeBasedVerification.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.deps.json
TimeBasedVerification.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification.BitwiseHelpers/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.pdb
TimeBasedVerification.BitwiseHelpers/bin/Debug/net6.0/ref/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification.BitwiseHelpers/obj/project.assets.json
TimeBasedVerification.BitwiseHelpers/obj/project.nuget.cache
TimeBasedVerification.BitwiseHelpers/obj/TimeBasedVerification.BitwiseHelpers.csproj.nuget.dgspec.json
TimeBasedVerification.BitwiseHelpers/obj/TimeBasedVerification.BitwiseHelpers.csproj.nuget.g.props
TimeBasedVerification.BitwiseHelpers/obj/TimeBasedVerification.BitwiseHelpers.csproj.nuget.g.targets
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.AssemblyInfo.cs
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.AssemblyInfoInputs.cache
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.assets.cache
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.csproj.AssemblyReference.cache
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.csproj.CoreCompileInputs.cache
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.csproj.FileListAbsolute.txt
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.GeneratedMSBuildEditorConfig.editorconfig
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.GlobalUsings.g.cs
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.pdb
TimeBasedVerification.BitwiseHelpers/obj/Debug/net6.0/ref/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.csproj.CopyComplete
.gitignore
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification.Tests/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.pdb
TimeBasedVerification/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.dll
TimeBasedVerification/bin/Debug/net6.0/TimeBasedVerification.BitwiseHelpers.pdb
