TimeBasedVerification/obj/project.assets.json
TimeBasedVerification/obj/project.nuget.cache
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.dgspec.json
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.g.props
TimeBasedVerification/obj/TimeBasedVerification.csproj.nuget.g.targets
TimeBasedVerification/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.AssemblyInfo.cs
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.AssemblyInfoInputs.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.assets.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.csproj.AssemblyReference.cache
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.GeneratedMSBuildEditorConfig.editorconfig
TimeBasedVerification/obj/Debug/net6.0/TimeBasedVerification.GlobalUsings.g.cs
